<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タンパク質計算アプリ</title>
    <link rel="stylesheet" href="./style.css">


</head>
<body>
    <header>
        <h1>タンパク質計算アプリ</h1>
        <p>食材のタンパク質を簡単計算</p>
    </header>

    <section id="input-section">
        <h2>食材の追加</h2>
        <div>
            <label for="ingredient-input">食材の選択:</label>
            <!-- <input type="text" id="ingredient-input" placeholder="食材名を入力"> -->
            <select id="ingredient-input">
                <option value="">食材を選択してください</option>
                <option value="鶏胸肉">鶏胸肉</option>
                <option value="豆腐">豆腐</option>
                <option value="牛乳">牛乳</option>
                <option value="卵">卵</option>
                <option value="鯖">鯖</option>
                <option value="豚ヒレ">豚ヒレ</option>
                <option value="豚バラ">豚バラ</option>
                <option value="豚カタ">豚カタ</option>
                <option value="サーモン">サーモン</option>
                <option value="鶏もも肉">鶏もも肉</option>
            </select>
        </div>
        <div>
            <label for="amount-input">量の入力:</label>
            <input type="number" id="amount-input" placeholder="グラム">
        </div>

        <button id="add-button">追加</button>
    </section>

    <section id="ingredient-list-section">
        <h2>追加した食材リスト</h2>
        <ul id="ingredient-list">
        </ul>
    </section>

    <button id="calculate-button">計算開始</button>

    <section id="result-section">
        <h2>計算結果</h2>
        <p id="total-protein">タンパク質の総量: </p>
        <!-- 詳細情報がここに表示される -->
    </section>

    <footer>
        <p>アプリに関する情報や、使用方法、お問い合わせはこちら</p>
        <!-- クレジットやリンクがここに追加される -->
    </footer>

    <script src=""></script>
    
</body>
</html>